---
title: Home
---

{% include head.html %}


<body>

  <div class="container">
    <header class="masthead">
      {% include header.html %}
      {% include menu.html %}
    </header>

    <h1>Hi, I am Hanezu.</h1>

    This is a <a href="{{ site.github.url }}/blog">blog</a> of my thoughts on <a
      href="{{ site.github.url }}/blog/tech.html">deep learning, math, programming</a>, and else.

    <br />

    I recently started to write some <a href="{{ site.github.url }}/blog/cn.html">non-technical posts in Chinese</a>
    too.

    <h1>About me</h1>

    <ul>
      <li>
        Developing <a href="https://crypko.ai"></a>Crypko @ <a href="https://www.preferred-networks.jp/"></a>PFN, 2018 -
        now.
      </li>
      <li>
        Exchange Student @ Kyoto University, 2016 - 2017.
      </li>
      <li>
        Bachelor of Math @ Fudan University, 2014 - 2018.
      </li>
    </ul>

    <h1>Contact</h1>
    If you enjoy reading my posts, feel free to comment (in English, Japanese or Chinese) or <a
      href="mailto:huachun@crypko.ai">email me</a>.

    {% include footer.html %}

  </div>

</body>