<ul class="posts">
    <!-- FIXME: this does not work for multiple views because -->
    <!-- next is refer to the exact next post, not in the category!! -->
    {% assign total = posts.size | minus: 1 %}
    {% for i in (0..total) %}
        {% assign post = posts[i] %}

        {% if i == 0 %}
            <!-- no post above, add year -->
            <h3>{{ post.date | date: '%Y' }}</h3>
        {% else %}
            {% assign post_above_idx = i | minus: 1 %}
            {% assign post_above = posts[post_above_idx] %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture year_above %}{{ post_above.date | date: '%Y' }}{% endcapture %}
            {% if year != year_above %}
            <h3>{{ post.date | date: '%Y' }}</h3>
            {% endif %}
        {% endif %}

        <li itemscope>
            <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
            <p class="post-date"><span><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%B %-d, %Y" }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span></p>
        </li>
    {% endfor %}
  </ul>